---
layout: default
---
<head>
  <style>
    table{
      border-left:1px solid #000000;border-top:1px solid #000000;
      width: 100%;
      word-wrap:break-word; word-break:break-all;
    }
    table th{
    text-align:center;
    }
    table th,td{
      border-right:1px solid #000000;border-bottom:1px solid #000000;
    }
  </style>
</head>
<div class="container">
    <div id="post-content" class="panel panel-pithy post">
      <div class="panel-heading">
        <h3 class="title">
          <i class="fa fa-bookmark-o"></i>{{page.title}}
        </h3>
      </div>
      <div class="panel-body">
        {{content}}
      </div>
    </div>
    <!-- {% include comment.html%} -->
</div>
